.container {
	margin-top: 40px;
}

.sidebar {
	/* max-width: 375px; */
	/* padding-left: 90px; */
}

.content {
	margin-top: 23px;
	display: grid;
	grid-template-columns: 375px auto;
	column-gap: 90px;
}

.sidebarContent {
	border-right: 1px solid var(--color-brand-lighter);
	height: 100%;
}

.sidebarItem {
	padding: 20px 0;
	padding-left: 90px;
	text-decoration: none;
	color: var(--color-black);
	cursor: pointer;
}

.sidebarItem a {
	text-decoration: none;
	color: var(--color-black);
}

.activeSidebarItem {
	background: var(--color-brand-lighter);
	color: var(--color-white);
}

.main {
	margin-right: 10vw;
	/* max-width: 727px; */
}
