.options {
  width: 1200px;
  margin: 40px auto 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftOptions {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.rightOptions {
  width: 600px;
}
