.halfField {
  margin-top: 5px;
	display: grid;
	grid-template-columns: 0.75fr 2fr;
	column-gap: 60px;
	margin-bottom: 60px;
}

.twoFields {
	display: grid;
	grid-template-columns: 1.25fr 2fr;
	column-gap: 10px;
  margin-bottom: 32px;
  align-items: baseline;
}