.halfField {
	margin-top: 5px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 20px;
	margin-bottom: 60px;
}

.pictures {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 20px;
	column-gap: 20px;
}

<<<<<<< HEAD
.twoFields {
=======
.fields {
>>>>>>> Merge
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}

<<<<<<< HEAD
.oneField {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

=======
>>>>>>> Merge
.field {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
