.bg {
  /* padding-top: 20px;
  width: 350px;
  height: 750px;
  position: fixed;
  right: 0; */

  overflow: hidden;
  width: 350px;
  height: 750px;
  float: right;
}

.formContainer {
  position: absolute;
  top: 120px;
  left: 250px;
  max-width: 600px;
}

.formGroup {
  margin-bottom: 40px;
}

.formGroup > h2 {
  margin-bottom: 40px;
  text-align: center;
}

.formGroup > p {
  text-align: center;
  margin-top: -30px;
}

.cardDisplay {
  display: flex;
  align-content: space-between;
  gap: 10px;
  
}

.cardPreferences {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  justify-content: space-around;
  column-gap: 500px;
}

.cardPreferences:hover {
  cursor: pointer;
}


.cardPreferencesSelected {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
  border: 1px solid #FFA500;
  border-radius: 8px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  column-gap: 500px;
}

.cardPreferencesSelected:hover {
  cursor: pointer;
}

.cardImage {
  height: 240px;
  width: 240px;
}

.logo {
  width: 127px;
  height: 55px;
  margin-left: inherit;
}

.topItems {
  position: absolute;
  top: 30px;
  left: 90px;
  display: flex;
}

.topItems > *:not(:first-child) {
	margin-left: 20px;
}

.profileFormLabel {
  margin-top: 10px;
}

.formItem {
  margin-top: 10px;
}

.formItemSex{
  margin-top: 10px;
  display: flex;
  flex-flow: row;
}


/* Image */

.imageContainer {
  display: flex;
  flex-direction: row;
}

.imageContainerRight {
  padding-top: 30px;
  margin-left: 20px;
}

.imageContainerRight > p {
  margin-top: 10px;
  color:red;
  font-weight: bold;
}

.img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.imageUploadLabel{
  /* Small variant */
  padding: 10px 20px;

  /* Typography */
  font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.01em;
	text-transform: uppercase;

  /* Base styles */
  display: inline-block;
	cursor: pointer;
	background: #ddd;
	border-radius: 10px;
	transition: all 0.3s;

  /* Outline brand-default */
  background: none;
	color: var(--color-brand-default);
	border: 1px solid var(--color-brand-default);
}

.hideInput {
	display: none;
}
