.navbar {
	width: 100vw;
	max-width: 100%;
	background: var(--color-brand-default);
}

.navbarContainer {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	padding: 20px 0;
}

.navbarRightItems {
	display: flex;
	align-items: center;
	flex-direction: row;
	color: var(--color-white);
}

.navbarRightItems > *:not(:first-child) {
	margin-left: 30px;
}

.navbarItem {
	color: var(--color-white);
	text-decoration: none;
}
