.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 40px;
	background: var(--color-brand-default);
}

.navbarRightItems {
	display: flex;
	align-items: center;
	flex-direction: row;
	color: var(--color-white);
}

.navbarRightItems > *:not(:first-child) {
	margin-left: 30px;
}

.navbarItem {
	color: var(--color-white);
	text-decoration: none;
}
