.navbar {
	display: flex;
	width: 100vw;
	padding: 20px 40px;
	background: var(--color-primary-default);
}

.navbarRightItems {
	display: flex;
	flex-direction: row;
}

.navbarRightItems:not(:first-child) {
	margin-left: 30px;
}
