.sidebar {
  height: 100%;
  /* border: 1px solid var(--color-brand-default); */
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color:  var(--color-brand-default);
}

/* .spacing div {
  padding-top: 10px;
  padding-bottom: 10px;
} */

/* .spacing div:hover {
	background-color: var(--color-brand-lighter);
} */

.main-nav:hover {
  background-color: var(--color-brand-lighter);
}