.baseStyles {
  border: 2px solid var(--color-light-grey);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 16;
  font-family: 'Raleway';
}

.baseStyles:focus {
  border: 2px solid var(--color-brand-default);
  outline: none;
}

.baseStyles::placeholder {
  color: #BBC8D4;
  font-size: 16px;
  font-size: 16;
  font-family: 'Raleway';
  font-weight: 400;
}