.container {
    text-align: center;
    align-content: center;
    background-image: url(assets/pawBackground.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.userInfo {
    display: flex;
    margin-left: 15%;
}

.userPhoto {
    margin-top: 17px;
    width: 30px;
    height: 30px;
}

#username {
    margin-top: 23px;
    margin-left: 11px;
}

#title {
    margin-top: 15px;
    margin-bottom: 12px;
    margin-left: 5%;
    margin-right: 5%;
}

.bar {
    border: 1px solid var(--color-brand-default);
    width: 80%;
    margin-left: 10% !important; 
    margin-right: 10% !important;
}

.storyPhoto {
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 900px; 
    height: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rectangleForTags {
    display: flex;
    background-color: var(--color-brand-lighter);
    min-width: 70%;
    height: 45px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 22px;
    border-radius: 50px;
    text-align: justify !important;
    padding: 11px 20px;
}

#tagLabel {
    margin-right: 5px;
    margin-top: 3px;
}

#storyDetails {
    line-height: 200%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify !important;
    text-indent: 50px;
    margin-bottom: 15px;
}
