.baseStyles {
  border: 2px solid var(--color-grey);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.baseStyles:focus {
  border: 2px solid var(--color-brand-default);
  outline: none;
}